<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usst.cs.campusAid.mapper.db.shop.OrderMapper">

    <!-- 获取最小的可用订单ID -->
    <select id="minFreeID" resultType="long">
        SELECT COALESCE(MAX(id) + 1, 1) FROM shop_order;
    </select>

    <!-- 插入新的订单 -->
    <insert id="insert">
        INSERT INTO shop_order (id, shop, shopper_id)
        VALUES (#{id}, #{shop}, #{shopperId});
    </insert>

</mapper>
