<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usst.cs.campusAid.mapper.db.shop.ShopMapper">

    <!-- 验证用户名密码 -->
    <select id="verifyInternal" resultType="string">
        SELECT name FROM shop WHERE name = #{name} AND password = #{password}
    </select>

    <!-- 获取商店信息 -->
    <select id="getShopByName" parameterType="string" resultType="cn.edu.usst.cs.campusAid.model.shop.Shop">
        SELECT * FROM shop WHERE name = #{shopName};
    </select>

    <insert id="insert" parameterType="cn.edu.usst.cs.campusAid.model.shop.Shop">
        INSERT INTO shop (name, description, password) VALUES (#{name}, #{description}, #{password})
    </insert>

    <delete id="deleteByName" parameterType="String">
        DELETE FROM shop WHERE name = #{name}
    </delete>

</mapper>
