<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usst.cs.campusAid.mapper.db.ReplyMapper">

    <!-- 插入回复 -->
    <insert id="insertReply">
        INSERT INTO reply (blog_id, sender, content, send_time)
        VALUES (#{blogId}, #{sender}, #{content}, NOW())
    </insert>

    <!-- 根据博客ID删除所有回复 -->
    <delete id="deleteByBlogId">
        DELETE FROM reply
        WHERE blog_id = #{blogId}
    </delete>
    <!--    获取某篇帖子的所有回复-->
    <select id="selectByBlogId" resultType="cn.edu.usst.cs.campusAid.model.forum.Reply">
        SELECT * FROM reply
        WHERE blog_id = #{blogId}
    </select>
    <!-- 根据博客ID查询回复数量 -->
    <select id="countRepliesByBlogId" resultType="int">
        SELECT COUNT(*) FROM reply
        WHERE blog_id = #{blogId}
    </select>

    <!--    删除指定回复-->
    <delete id="deleteById">
        DELETE FROM reply
        WHERE id = #{id}
    </delete>
    <!--  根据回复ID获取回复  -->
    <select id="selectById" resultType="cn.edu.usst.cs.campusAid.model.forum.Reply">
        SELECT * FROM reply WHERE id = #{id}
    </select>
<!--    批量查询回复数量-->
    <select id="countRepliesByBlogIds" resultType="java.util.HashMap">
        SELECT
        blog_id AS blogId,
        COUNT(*) AS replyCount
        FROM
        reply  <!-- 使用实际表名 'reply' -->
        WHERE
        blog_id IN
        <foreach collection="blogIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY
        blog_id
    </select>

</mapper>
