<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usst.cs.campusAid.mapper.BlogMapper">


    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog (creator, title, content, send_time, visibility)
        VALUES (#{creator}, #{title}, #{content}, #{sendTime}, #{visibility})
    </insert>

    <delete id="deleteBlog">
        DELETE FROM blog WHERE id = #{id}
    </delete>

    <select id="searchBlogs" parameterType="BlogSearchParam" resultMap="blogResultMap">
        SELECT
        b.*,
        COUNT(l.liker) AS like_count
        FROM blog b
        LEFT JOIN like_blog l ON b.id = l.blog_id
        <where>
            b.visibility = 'visible'
            <if test="searchTitle">
                AND b.title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchTag">
                AND b.content REGEXP CONCAT('#', #{keyword}, '[[:space:]]')
            </if>
            <if test="searchAuthor">
                AND b.creator IN (SELECT id FROM user WHERE username LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        GROUP BY b.id
        ORDER BY
        <choose>
            <when test="sortBy == 'likes'">like_count DESC</when>
            <otherwise>b.send_time DESC</otherwise>
        </choose>
    </select>

</mapper>