<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usst.cs.campusAid.mapper.ReplyMapper">

    <insert id="insertReply" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reply (blog_id, sender, content, send_time)
        VALUES (#{blogId}, #{sender}, #{content}, #{sendTime})
    </insert>

    <delete id="deleteByBlogId">
        DELETE FROM reply WHERE blog_id = #{blogId}
    </delete>

</mapper>